#main-panel{
    display: flex;
    flex-direction: column;
    height: 90vh;
}
#choice-wrap{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}
.choice-btn{
    margin: 0.5rem 0;
    padding: 1rem;
}
.choice-active{
    background-color: var(--bs-primary) !important;
    color: var(--bs-light) !important;
}
.submit-btn{
    margin-top: 2rem;
    padding: 1rem;
}