.App{
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    padding-top: 1em;
    flex-grow: 1;
}

#navbar{
    position: sticky;
    top: 0;
    z-index: 10;
}