#question-table{
    margin-top: 10px;
    vertical-align: middle;
}
#btns-wrap{
    display: flex;
    gap: 10px;
}
#filter-wrap{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}
.answer{
    margin: 3px;
}
.action-wrap{
    display: flex;
}
.form-cate-btn{
    border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
}